body {
    margin: 0;
    background-color: rgb(243, 243, 243);
    disply: flex;
}

.header {
    background-color: yellowgreen;
    position: fixed;
    width: 1483px;
    top: 0px;
}

.main-photo {
    background-color: orchid;
    height: 400px;
    margin-top: -16px;
}

.main-body {
    background-color: rgb(100, 243, 243);
    width: 1200px;
    margin: auto;
    margin-top: -100px;
    min-height: 200vh;
}

.form {
    background-color: tomato;
    width: 1200px;
    height: 300px;
}

.main-menu {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.three-list {
    width: 378px;
    height: 335px;
    margin-top: 20px;
}

.item1 {
    background-color: orange;
}

.item2 {
    background-color: blanchedalmond;
}

.item3 {
    background-color: red;
}

.middle-section {
    width: 1200;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items {
    width: 378px;
    height: 335px;
    margin-top: 25px;
}

.div1 {
    background-color: tan;
    width: 788px;
}

.div2 {
    background-color: paleturquoise;
}

.div3 {
    background-color: violet;
}

.div4 {
    background-color: rgb(166, 210, 140);
}

.div5 {
    background-color: navy;
}

.div6 {
    background-color: firebrick;
}

.div7 {
    display: block;
}

.aside-end {
    display: flex;
    justify-content: space-between;
}

.end {
    flex-direction: row;
}

.div8 {
    background-color: green;
    width: 788px;
    height: 335px;
    margin-top: 20px;
}

.div9 {
    background-color: rgb(182, 97, 97);
    width: 378px;
    height: 335px;
    margin-top: 20px;
}

.footer {
    background-color: rgb(58, 121, 100);
    flex: 1;
    margin-top: -16px;
}