body {
    margin: 0;
    min-height: 81vh;   
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #698F3F; 
}
.list {
    color: white;
    text-align: center;
    list-style:none;
    padding:0;
    margin:0;
    width:300px;
    margin-top: 14px;
    font-size: 18px
  }

  ul li {
    display:inline-block;
    padding:20px;
  }
.head {
    padding-left: 15px ;
  }
.main-class {
    display: flex;
    height: 81vh;

}
.two-paragraphs {
    order: 2;
    padding: 20px 20px 20px 35px;
    font: italic bold 25px/36px helvetica,serif;
}
.first-aside {
    background-color: #E7DECD;
    padding:15px;
}
.second-aside {
    order:4;
    background-color: #E7DECD;
    padding: 15px;
}
.footer {
    background-color: #804D49;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
img {
    width: 200px;
    height: 300px;
}